In [15]:
import pandas as pd

# create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# create a new row
new_row = pd.DataFrame({'A':[7], 'B': [8]})

# append the new row to the DataFrame
# df = df.append(new_row, ignore_index=True)
df_cat = pd.concat([df,new_row], ignore_index=True)

print(df_cat)

   A  B
0  1  4
1  2  5
2  3  6
3  7  8

In [17]:
new_row1 = {'A': 7, 'B': 8}

df.loc[len(df)] = new_row1
df

   A  B
0  1  4
1  2  5
2  3  6
3  7  8